<% layout('layout/boilerplate') -%>
    <div class="listings">

        <% for(let listing of allListing){ %>
            <a href="/listing/<%=listing._id %>" class="card">
                <div class="card-image">
                    <img src="<%= listing.images && listing.images.length > 0 ? listing.images[0] : '/images/default-listing.jpg' %>"
                        alt="<%= listing.title %>">
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <%=listing.title%>
                    </h4>
                    <div class="card-info">
                        <%=listing.location.area %>
                    </div>
                    <div class="price-tag">
                        &#8377; <%=listing.pricing.rent.toLocaleString("en-IN") %>/Month
                    </div>
                </div>
            </a>
            <%}%>
    </div>