<% layout('layout/boilerplate') -%>
        <div class="listings">

    <% for(let listing of allListing){ %>
        <a href="/listing/<%=listing._id %>" style="text-decoration: none;"> 

            <div class="card">
                <div class=" card-image">
                    <img src="<%=listing.images[2]%>">
                </div>
                <div class="card-body">
                    <h4 class="card-title"><b><%=listing.title%></b></h4>
                    <div class="card-info">
                    <%=listing.location.area %><br>
                     From &#8377 <%=listing.pricing.rent.toLocaleString("en-IN") %>/Month
                    </div>
                </div>
            </div>
            </a>
        <%}%>
                </div>

 


  